postgres:
  user: public_readonly
  password: nearprotocol
  host: 35.184.214.98
  port: 5432
  database: testnet_explorer

singlestore:
  user: root
  password:
  host: 127.0.0.1
  port: 3306
  database: near

metrics:
  port: 9000