export POSTGRES_HOST=35.184.214.98
export POSTGRES_USER=public_readonly
export POSTGRES_PASSWORD=nearprotocol
export POSTGRES_SCHEMA=public
export POSTGRES_DB=testnet_explorer
export MEMSQL_HOST=127.0.0.1
export MEMSQL_PORT=3306
export MEMSQL_USER=root
export MEMSQL_PW=
export MEMSQL_DB=near
